.empty {
	order          : 0;
	max-width      : 500px;
	margin         : 0 auto;
	text-align     : center;
	text-transform : uppercase;
	font-weight    : 600;
	font-size      : 2rem;
	color          : #e0e0e0;
}