.error {
  max-width: 500px;
  text-align: center;
  font-size: 0.875rem;
  color: #fff;
  background-color: #bf360c;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
